.container {
    max-width: 800px;
    margin-left: auto;
    padding: 50px;
    margin-right: auto;
}

.article {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.aboutMeTitle {
    text-align: center;
}

.aboutMeBody {
    flex-direction: column;
}

.contactLink {
    text-decoration: none;
}