.title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 5rem;
}
.container {
  width: 50vw;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 2rem;
}
  .article {
    display: block;
    background-color: #ffffff;
    border: 2px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    border-radius: 1rem;
    justify-content: center;
    padding:1rem;
  }
    .body {
      font-size: 1.25rem;
      padding-left: 1rem;
      padding-right: 1rem;
      color: #292929;
    }
    .linkText {
      text-align: center;
    }
      .link {
        text-decoration: none;
        font-size: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

@media screen and (max-width: 810px) {
  .container {
    width: 85vw;
    padding-bottom: 2rem;
  }

  .title {
    font-size: 3rem;
  }
}