.title {
  padding-top: 2rem;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  max-width: 100vw;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  justify-content: center;
}
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
    .item {
      flex-basis: calc(33.33% - 1rem);
      padding-left: .5rem; 
      padding-right: .5rem;
      padding-bottom: 1rem;
      max-width: 25%;
    }
      .link {
        display: flex;
        background-color: #ffffff;
        border: 2px solid #ddd;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        text-decoration: none;
        border-radius: 1rem;
        height: 20rem;
        align-items: center;
        justify-content: center;
      }
        .link:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .postText {
          /* outer container for the post content */
        }
          .postTitle {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 2rem;
            font-weight: bold;
            color: #333;
            padding: 1rem;
          }
          .subtitle {
            font-size: 1.25rem;
            color: #666;
            margin-bottom: 0;
          }
          .date {
            font-size: 1rem;
            color: #999;
            margin-top: 5px;
          }

/* Tablet and small desktop screens */
@media screen and (max-width: 1280px) {
  .title {
    font-size: 3rem;
  }
  .item {
    flex-basis: calc(50% - 1rem);
    padding-bottom: 1rem;
    padding-top: 0;
    max-width: 85vw;
  }
      .postTitle {
        font-size: 1.5rem;
        padding-top: 1rem;
      }
}

/* Phone screens */
@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .item {
    flex-basis: calc(50% - 1rem);
    padding-bottom: 1rem;
    padding-top: 0;
    max-width: 85vw;
  }
    .link {
      width: 85vw;
      height: 85vw;
    }
      .postTitle {
        font-size: 1.5rem;
        padding-top: 1rem;
      }
}