:root {
  --primary-color: #262626;
  --secondary-color: #fff;
  --font-primary: 'Raleway', sans-serif !important;
  --font-secondary: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #3f3f3f;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

.site-title {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 30px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  font-size: 18px;
  color: #666666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #333333;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin: 0;
}

.main-content {
  margin-bottom: 80px;
}