.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  padding: 5rem;
}

.outerContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.left {
  flex: 1;
  font-size: 5vw;
  font-weight: bold;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right img {
  width: 30vw;
}


.latestBlog {
  padding-top: 50px;
  padding-bottom: 25px;
}

.latestBlog h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 0px;
}

.link {
  display: block;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  border-radius: 1rem;
}

.link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postTitle {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

.featuredProject h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

/* //Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 5rem;
  }

  .left,
  .right {
    max-height: 50vh;
    max-width: 100vw;
    text-align: center;
    font-size: 7vw;
    align-items: center;
  }

  .right img {
    width: 80vw;
  }

}
