.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.outerContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
.left {
  flex: 1;
  font-size: 5rem;
}

.lefth1 {
  
  text-align: left;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.righth1 {
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.right img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
}

.latestBlog {
  padding-top: 50px;
  padding-bottom: 25px;
}

.latestBlog h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 0px;
}

.link {
  display: block;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postTitle {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

.featuredProject h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 926px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    margin: 0;
    text-align: center;
  }

  .lefth1 {
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .righth1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .right img {
    max-width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
