.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
  }
  
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .game {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    height:1000px;
    width:750px
  }
  
.container {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 20px;
  }

  .icon {
    max-width: 100%;
    max-height: 100%;
    width: 7rem;
    height: 7rem;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }