.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  padding-top:2rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align:center;
}

.container {
  max-width: 50vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
  justify-content: center;
  

}
  .article {
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  .game {
    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 60vw;
  }
  .body {
    font-size: 1.25rem;
    padding-top: 2rem;
    padding: 2rem;
    color: #292929;
    line-height: 1.4;
  }
  .infoContainer {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
    .icon {
      max-width: 100%;
      max-height: 100%;
      width: 7rem;
      height: 7rem;
    }
  
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0;
  }
  .body {
    padding: 1rem;
  }
  .infoContainer {
    padding: 1rem;
  }
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    padding: 1rem;
    text-align: center;
  }
  
  .game {
    height: 90vh;
    width: 90vw;
  }
  
}