

.container {
    max-width: 50vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
    justify-content: center;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  .body{
    font-size: 1.25rem;
    padding-top: 2rem;
  }
  .game {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .icon {
      max-width: 100%;
      max-height: 100%;
      width: 7rem;
      height: 7rem;
    }

  

@media screen and (max-width: 844px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
  }
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    padding: 1rem;
    text-align: center;
  }
  .body {
    font-size: 1.1rem;
    padding: 1rem;
  }
  .infoContainer {
    font-size: 1.1rem;
    padding: 1rem;
  }
  .game {
    height: 95vw;
    width: 95vw;
  }

  .space{
    padding: 0;
  }

  .titleContainer p {
    padding: 1rem;
  }
  
}