.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 5rem;
  justify-content: center;
}

.title {
  padding-top: 5rem;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 60px;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 1rem;
}

.link {
  display: block;
  background-color: #ffffff;
  border: 2px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  border-radius: 1rem;
  height: 25rem;
  text-align: center;
}

.link:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.postContent {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.body {
  font-size: 1.25rem;
  padding: 1rem;
}

.postText {
  flex-grow: 1;
}

.postTitle {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 0;
}

.date {
  font-size: 0.8rem;
  color: #999999;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: calc(50% - 1rem);
    padding-bottom: 0;
    padding-top: 0;
  }
  .link {
    width: 75vw;
    height: auto;
    
  }
  .postContent {
    margin-top: 10vw;
  }
}
