.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 1rem;
  }
  
.article {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s ease;
  border-radius: 1rem;
}
  
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  .body {
    font-size: 16px;
    color: #666;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
    
  