
  .body {
    font-size: 1.25rem;
    padding-top: 2rem;
    padding: 2rem;
    color: #292929;
    line-height: 1.4;
  }

  @media screen and (max-width: 768px) {
    .body {
      padding-top: .5rem;
      font-size: 1.1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  